:root {
  --bg_main: #2670AF;
  --text_light: #fff;
  --text_med: #29366b;
  --text_dark: #040717;
  --red: #c24d32;
  --darkred: #942107;
  --orange: #cc7b2f;
}

@font-face {
  font-family: DIN-Medium;
  src: url(DIN Medium Regular.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: DIN-Medium, sans-serif;
  /*font-family: sans-serif;*/
  background-color: var(--bg_main) !important;
  color: var(--text_dark);
  padding: 50px;
  background: url('//s1.twnmm.com/images/en_ca/backgrounds/unified/default.jpg');
  background-repeat: no-repeat !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
 
button {
  cursor: pointer;
}
  
input {
  -webkit-appearance: none;
}
  
button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}
 
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
 
ul {
  list-style: none;
}
 
.top-banner {
  color: var(--text_light);
}
 
.heading {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
}
 
.top-banner form {
  position: relative;
  display: flex;
  align-items: center;
}
 
.top-banner form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}
 
.top-banner form input::placeholder {
  color: currentColor; 
}
 
.top-banner form button {
  visibility: hidden;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--red);
  transition: background 0.3s ease-in-out;
}
 
.top-banner form button:hover {
  background: var(--darkred);
}
 
.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}

.ajax-section {
  margin: 50px 0 20px;
}
 
.ajax-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: max(min(800px, 70%), 500px);
}

@media screen and (max-width: 700px) {
  .ajax-section .cities {
    /*grid-template-columns: min(800px, 80%);*/
  }
}

.ajax-section .city {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--text_light);
  color: var(--text_light);
}
 
.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
 
.ajax-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_light);
}
 
.ajax-section .city sup {
  font-size: 0.5em;
}
 
.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}
 
.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  align-self: flex-end;
}

.ajax-section .city figure {
  display: flex;
  max-width: 700px;
  justify-content:  space-between;
  align-items: baseline;
}

.ajax-section .city-name {
  display: inline-block;
  align-self: center;
}